<html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="/add">添加学生</a>
  <a href="/delete">删除学生</a>
    <table>
      <tr>
        <td>姓名</td>
        <td>性别</td>
        <td>年龄</td>
        <td>操作</td>
      </tr>
      {{each students}}
      <tr>
        <td>{{$value.name}}</td>
        <td>{{$value.gender}}</td>
        <td>{{$value.age}}</td>
        <td>
          <a href="/updata?id={{$value.id}}">更新</a>
          <a href="/delete?id={{$value.id}}">删除</a>
        </td>
      </tr>
      {{/each}}
    </table>
</body>
</html>